{% macro select(id, options, label="", selected=None) %}
<div class="row">
<div class="input-field col s6">
  <div class="input-field col s6">
    <select id="{{id}}">
      {% for option in options %}
      {% if selected %}
      {% if option == selected %}
      <option value="{{selected}}" selected>{{option}}</option>

      {# pass #}
      {% else %}
      {% endif %}
      {% else %}
      <option value="{{option}}">{{option}}</option>

      {% endif %}
      {% endfor %}
    </select>
    <label>{{label}}</label>
  </div>
</div>
</div>
{% endmacro %}
