<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <title>Lasertanks baby</title>
        <script src="{{url_for('static', path='vendor/socketio/socket.io.js')}}"></script>



    </head>
    <body>




        <!-- Your page content -->
        {% block content %}{% endblock %}

        <!--making life easier -->

        {% block scripts %}

        {% endblock %}
    </body>
</html>
