<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Item ID: {{ id }}</h1>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{url_for('static', path='vendor/socketio/socket.io.js')}}"></script>

    <button onclick="testfunc()"> test1</button>
    <br>

    <button onclick="testfunc2()"> test2</button>


    <script>
    var url = window.location.hostname;
    var socket = io('ws://localhost:8000', {
    path: '/ws/socket.io'
    });
    socket.on("hi", function() {
      console.log("hi")
    })

    function testfunc(){
      socket.emit("client_connect_event")
      console.log("hit")
    }

    function testfunc2(){
      socket.emit("test2")
    }

    socket.on("test", function(msg){
      console.log("test")
    })
     </script>
</body>
</html>
